/* CSS COMMON CODE */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1300px;
    margin: auto;
}


/* CSS COMMON CODE */

/* Navbar start */
nav{
    background: lightblue;
    padding: 15px 0;
}

nav ul li{
    display: inline-block;
    padding: 0 5px;
    position: relative;
}


nav ul li a{
    font-size: 14px;
    color: #000;
    transition: 0.35s;
}

nav ul li:hover > a{
    color: orangered;
}

.submenu{
    background: gray;
    width: 200px;
    position: absolute;
    top: 184%;
}

.submenu ul li{
    display: block;
    padding: 8px 5px;
}

.submenu ul li:hover{
    background: orangered;
    
}
.submenu ul li:hover > a{
    color: white;
}

.submenu{
    transition: 0.35s;
    opacity: 0;
    visibility: hidden;
}

nav ul li:hover > .submenu{
    top: 184%;
    opacity: 1;
    visibility: visible;
}

.submenu li .submenu{
    left: 100%;
}
/* Navbar end */